*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	width: 100%;
	height: 100%;
	max-width: 768px;
	margin: 0 auto;
	/*background: #FFFFFF;*/
}
/*页面开始*/
        
.header{
    width: 100%;
	height: 3em;
	z-index: 1000;
	display: inline-block;
    color:white;
    background: #FD9395;
   
}

.header .right{
	width: 8%;
	height: 3em;
    float: left;
    position: relative;
}
.header .right img{
	/*height: 35px;*/
	position: absolute;
	top: 30%;
	width:14px;
	left: 10%;

}
.header .nav_icon{
	width: 20%;
	height: 3em;
	float: left;
	position: relative;
}
.header .nav_icon img{
	width: 80px;
	/*height: 45px;*/
	position: absolute;
	left: -10px;
	top: 10px;
}
.header .my{
	width: 30%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	color: #fff;
}


.drag_to_refresh{
    align-items: center;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #fff;
    color:#000;
    font-size: 1.2em;
    display: none;
}
.refresh{
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    background-color: #fff;;
    color: #000;
    font-size: 1.2em;
    display: none;
}


/*列表*/
.home1{
	padding: 10px;
}
.noData{
	width: 100%;
	text-align: center;
	margin-top: 40%;
}
div.list{
	padding: 10px;
}


.list li{
	background-color: #fff;
	border: 1px #ccc solid;
	margin-bottom: 10px;
}

li .content{
	padding: 10px;
	position: relative;
	border-bottom: 1px #ccc solid;
}


.content img{
	width: 36%;
}

.content div.explain{
	width: 61%;
	position: absolute;
	right: 0;
	top: 10px;
	/*border: */
	height: 100%;
	color: #666;
}

div.explain p{
	
}

.explain .ti{
	/*font-weight: bold;*/
	font-size: 20px;
}

.explain  .fpri{
	position: absolute;
	top: 28%;
}

.explain  .time{
	position: absolute;
	bottom: 30px;
}

div.explain img{
	position: absolute;
	right: 10px;
	top: 35%;
	width: 20px;
}

li .choice{
	height: 40px;
	line-height: 40px;
}

.choice div{
	float: left;
	text-align: center;
	height: 100%;
}

.choice .cancel{
	width: 40%;
	border-right: 1px #ccc solid;
}
.cancel img{
	width: 20px;
	position: relative;
	top: -6px;
	left: -8px;
}

.choice div.sure{
	width: 60%;
	text-align: center;
}

div.sure div{
	width: 60%;
	margin: 0 auto;
	background-color: red;
	position: relative;
	left: 20%;
	height: 84%;
	top: 8%;
	line-height: 34px;
	color: #fff;
}
div.sure div img{
	width: 20px;
	position: relative;
	top: 2px;
	left: -6px;
}


/**删除蒙版**/
.whetherDelect{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
	display: none;
}


.whetherDelect .box{
	background-color: #fff;
	width: 80%;
	margin-left: 10%;
	margin-top: 50%;
}


.box div{
	height: 60px;
	line-height: 60px;
}

.warn{
	border-bottom: 2px blue solid;
	padding-left: 16px;
	color: blue;
	font-size: 20px;
}

div.judge{
	font-size: 20px;
	padding-left: 16px;
	padding-top: 10px;
	line-height: 20px;
}

.choice2{
	border-top: 1px #ccc solid;
}

.choice2 span{
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	box-sizing: border-box;
}
.cancel{
	border-right: 1px #ccc solid;

}