<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
</head>
<body ng-app="app">

<ul ng-controller="main">
	<li ng-repeat="itm in data.items" ng-click="clickBtn(itm.id)">
		<a href="#"><img ng-src="http://juhuituan.boguyuan.com/juhuituan{{itm.img}}"></a>

		<h3 class="title">{{itm.ti}}</h3>
		<p class="content"></p>

		<span class="jia"></span>
		<span class="renshu"></span>
	</li>
</ul>



<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript"> 
    // 容器  根作用域
	var app = angular.module("app",[]);
    
           // 控制器                // 作用域   方法
	app.controller("main",function ($scope,$http) 
	{   
		// 请求           方法
		var Request = $http(
		{
			// 1 方式
			method:"post",
			// 2 路径 url
			url:"http://juhuituan.boguyuan.com/juhuituan/reqData",

			// 3、参数
			params:{
				action:"listPro",
				acode:"1",
				uid:"25177",
				type:"1"
			}
		});
        
        // 成功 拿到 返回的数据      response
		Request.success(function (res) 
		{   
			var datas = res;  // json  不用转换
			console.log(datas);

			console.log(datas.data);

			$scope.data=datas.data;
		});

		$scope.clickBtn = function (index) 
		{
			// console.log(index);
			$http(
			{
				// 1 方式
				method:"post",
				// 2 路径 url
				url:"http://juhuituan.boguyuan.com/juhuituan/reqData",

				// 3、参数
				params:{
					action:"viewPro",
					acode:"1",
					uid:"25177",
					// type:"1",
					id:index
				}
			})
			.success(function (res) 
			{   
				var datas = res;  // json  不用转换
				// console.log(datas);

				$scope.data.items=[datas.data];
			});
		}
	});
</script>


</body>
</html>